.container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.width {
  width: 300px;
}

.height {
  height: 600px;
}

.position-fixed {
  position: fixed;
  top: 42em;
  right: 3em;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  .col-half {
    width: 50%;
  }

  .width {
    width: 500px;
  }

  .height {
    height: 600px;
  }

  .position-fixed {
    position: fixed;
    top: 41em;
    right: 47em;
  }
}
