.justify-center {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.align-center {
  display: flex;
  align-items: center;
}

.black-background {
  background-color: black;
}

.white-text {
  color: white;
}

.gray-background {
  background-color: #dcdfe3;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

/* .width-height-100 {
  width: 100%;
  height: 100%;
} */

.joke-button {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: #0b81ff;
  color: white;
  font-size: 20px;
}

.joke-button:hover {
  cursor: pointer;
}

.border {
  border: solid black 1px;
  border-radius: 10px;
  background-color: white;
}

.margin-top-30 {
  margin-top: 30px;
}

.height-50vh {
  height: 50vh;
}

.padding-20 {
  padding: 20px;
}

.text-bubble {
  background-color: #c2c9d3;
  border-radius: 15px;
  padding: 15px;
  max-width: 300px;
  display: inline-block;
}

.punchline-button {
  border: none;
  border-radius: 10px;
  padding: 5px 25px;
  background-color: #0b81ff;
  color: white;
  font-size: 20px;
}

.punchline-button:hover {
  cursor: pointer;
}
